<!DOCTYPE html>
html(lang='en')
	head
		meta(charset='UTF-8')
		title Document
		link(rel='shortcut icon' href='public/favicon.ico')
		meta(charset='UTF-8')
		title RKfrontstarterkit
		meta(name='viewport' content='width=device-width initial-scale=1 maximum-scale=1 user-scalable=no')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='HandheldFriendly' content='true')
		meta(name='keywords' content='')
		meta(name='description' content='')
		meta(name='author' content='')
		meta(property='og:title' content='')
		meta(property='og:url' content='')
		meta(property='og:image' content='')
		// A-Frame
		script(src='https://aframe.io/releases/1.0.4/aframe.min.js')
		script(src='https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js')
		script(src='https://rawgit.com/donmccurdy/aframe-extras/master/dist/aframe-extras.loaders.min.js')
	body
		include shared/app-scene.pug

		include utilities/css-importer.pug
		include utilities/js-importer.pug
